body {
  background-image: url("/assets/images/space.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#canvas-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

canvas {
  position: absolute;
}

#mute-container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 30px;
}

#mute-toggle {
  background-color: transparent;
  border: none;
}
